/*Formatação geral para toda a página:*/

html {
    scroll-behavior: smooth;
    max-width: 100vw;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
}
* {
    font-family: 'Kodchasan', sans-serif;
}

/*-----*/

b {
    font-weight: 700;
}

h1 {
    font-size: 8.4em;
    color: black;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 0.9em;
}
p {
    font-size: smaller;
}

.centerItem {
    display: flex;
    justify-content: center;
}
header {
    height: 40vh;
}

/*Formatação css da logo:*/
.logo {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 25vh;
}
.logoSvg {
    width: 10vw;
    height: auto;
    color: black;
    display: flex;
    align-items: bottom;
}

.logoEscrita {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    width: 35vw;
    height: 20vh;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.281);
}
.logoEscrita:hover {
    cursor: default;
}

.subSlogan {
    display: flex;
    justify-content: top;
    align-items:flex-start;
    height: 15vh;
    margin-top: 20px;
}
.subSlogan:hover {
    cursor: default;
}

/*-----*/

/*formatação dos containers do form*/

.conteudoPrincipal {
    background-color: #49683E;
    color: #FCF7F8;
    height: 100vh;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.185);
}

.mainMsg {
}
.linhaMsg {
    height: 20vh;
    display: flex;
    align-items: center;
}

#msgInicial {
    display: block;
}
#msgLoading {
    display: none;
}
#msgFinal {
    display: none;
}

.formInfo {
    display: none;
    background-color: #7DCD85;
    width: 40%;
    height: auto;
    border-radius: 2.5%;
    padding: 30px;
}
.formLoading {
    display: none;
    opacity: 0;
    background-color:#7DCD85;
    width: 40%;
    height: 50vh;
    border-radius: 2.5%;
    align-items: center;
    justify-content: center;
}
.formResultado {
    display: block;
    opacity: 100;
    background-color:#7DCD85;
    width: 40%;
    height: auto;
    border-radius: 2.5%;
    padding: 30px;
    /* justify-content: center; */
    margin: 5px;
}
#tituloForm {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexResultado {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@keyframes infoDim {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0;
    }
}
@keyframes infoAum {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.loadingGif {
    animation: loading 0.8s infinite;
    width: 30px;
    height: 30px;
    border: 4px solid #c4c4c4;
    border-radius: 50%;
    border-top-color: #FCF7F8;
}
@keyframes loading {
    to{
        transform: rotate(1turn);
    }
}

/*Formatação dos Inputs:*/
.inputs {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-bottom: 20px;
}
.inputs p {
    font-size: 0.9em;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 0;
    width: auto;
    height: auto;
}
.inputs p:hover {
    cursor: default;
}
.inputs input {
    width: 100%;
    background-color: #fcf7f875;
    border-color: #FCF7F8;
    border-style:double;
    border-width: 1px;
    border-radius: 6px;
}

.btnCalcular {
    display: flex;
    align-items: center;
    justify-content:center;
}
.btnCalcular button {
    width: 100%;
    height: 60px;
    border-style: none;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
}
.btnCalcular button:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.281);
}



/*-----*/



/*Formatação do Rodapé:*/

footer {
    height: 20vh;
}
.conteudoRodape {
    background-color: #80AB82;
}

footer h3:hover {
    cursor: default;
}
footer h3 b:hover {
    cursor: pointer;
    color:#FCF7F8;
}