/*Formatação geral para toda a página:*/

html {
    scroll-behavior: smooth;
    max-width: 100vw;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
}
* {
    font-family: 'Kodchasan', sans-serif;
}

/*-----*/

b {
    font-weight: 700;
}

h1 {
    font-size: 8em;
    color: black;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 0.9em;
}
p {
    font-size: smaller;
}

.centerItem {
    display: flex;
    justify-content: center;
}
header {
    height: 40vh;
}

/*Formatação css da logo:*/
.logo {
    display: flex;
    justify-content: center;
    height: 30vh;
}
.logoSvg {
    width: 10vw;
    color: black;
    display: flex;
    align-items: bottom;
}

.logoEscrita {
    position:relative;
    display: flex;
    align-items: bottom;
    margin-right: 0;
    width: 35vw;
    height: 20vh;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.281);
}

.subSlogan {
    display: flex;
    justify-content: top;
    align-items: center;
    height: 10vh;
}

/*-----*/

/*formatação do container do form*/

.mainMsg {
}
.linhaMsg {
    height: 20vh;
    display: flex;
    align-items: center;
}
.formInfo {
    background-color: #7DCD85;
    width: 40%;
    height: auto;
    border-radius: 2.5%;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}
/*-----*/

.conteudoPrincipal {
    background-color: #49683E;
    color: #FCF7F8;
    height: 100vh;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.185);
}

.conteudoRodape {
    background-color: #80AB82;
}

/*Formatação do Rodapé:*/

footer {
    height: 20vh;
}