html {
    scroll-behavior: smooth;
}
* {
    font-family: 'Kodchasan', sans-serif;
}

b {
    font-weight: 700;
}

h1 {
    font-size: 6em;
}
h2 {
    font-size: small;
}
p {
    font-size: smaller;
}